doctype html
head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title STEM Team Polling
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js")
    script(src="js/survey.js")
    link(rel="stylesheet" href="main.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css")
body(ng-app="stem-survey"): div(ng-controller="formCtrl as c")
    .thanks-modal.modal.animated(ng-if="!c.thanksHidden"
        ng-class="{'fadeIn is-active':c.thanks,\
                   'fadeOut is-active':!c.thanks}"
    )
        .modal-background
        .modal-content.is-full-width
            .hero.is-light: .hero-body: .container
                h1.title Thanks
                h2.subtitle See you in the STEM Team!

    .columns.is-gapless
        .column.is-hidden-mobile
            .hero.is-primary.is-fullheight.is-bold
                .hero-body: .container.is-fluid
                    h1.title.is-text-aligned-right MKA STEM Club Sign-Up
                    h2.subtitle.is-text-aligned-right
                        a(href="responses.html") Responses
                        span="   |   "
                        a(href="chart.html") Chart
        .column.is-hidden-tablet
            .hero.is-primary.is-bold
                .hero-body: .container.is-fluid
                        h1.title.is-text-aligned-right MKA STEM Club Sign-Up
                        h2.subtitle.is-text-aligned-right
                            a(href="responses.html") Responses
                            span="   |   "
                            a(href="chart.html") Chart
        .column: .level.is-full-height.survey-form()
            .level-item: form(novalidate name="inputForm")
                .columns.is-mobile
                    .column
                        label.label First Name
                        .control: input.input(
                                name="firstname" 
                                ng-model="c.firstname"
                                required 
                                ng-required="true" 
                                ng-class="{\
                                    'is-danger':inputForm.firstname.$invalid && !inputForm.firstname.$pristine,\
                                    'is-success':!inputForm.firstname.$invalid && !inputForm.firstname.$pristine}")

                    .column
                        label.label Last Name
                        .control: input.input(
                            name="lastname" 
                            ng-model="c.lastname" 
                            required 
                            ng-required="true"
                            ng-class="{\
                                    'is-danger':inputForm.lastname.$invalid && !inputForm.lastname.$pristine,\
                                    'is-success':!inputForm.lastname.$invalid && !inputForm.lastname.$pristine}")
                .columns.is-mobile
                    .column.is-3
                        label.label Grade
                        .control: input.input(
                            name="grade"
                            ng-model="c.grade"
                            type="number"
                            value="9"
                            required
                            ng-required="true"
                            ng-class="{\
                                    'is-danger':inputForm.grade.$invalid && !inputForm.grade.$pristine,\
                                    'is-success':!inputForm.grade.$invalid && !inputForm.grade.$pristine}")
                    .column.is-9
                        label.label Email
                        .control: input.input(
                            name="email"
                            ng-model="c.email"
                            placeholder="{{c.emailPlaceholder}}"
                            type="email"
                            ng-class="{\
                                    'is-danger':inputForm.email.$invalid && !inputForm.email.$pristine,\
                                    'is-success':!inputForm.email.$invalid && !inputForm.firstname.$invalid && !inputForm.lastname.$invalid && !inputForm.grade.$invalid}")
                label.label What do you want to do?
                .control(ng-if="c.options"): .columns.is-mobile.is-multiline
                    .column.is-half(ng-repeat="opt in c.options")
                        .selection-tile.notification.is-info(ng-click="c.choice = opt.id" ng-class="{'is-success is-selected':c.choice == opt.id}")
                            p.title {{opt.name}}
                            p.title.is-6 {{opt.description}}
                .control(ng-if="!c.options") Loading options...

                .control
                    button.button.is-primary.is-medium(
                        ng-class="{'is-loading':c.loading}" 
                        ng-click="c.submit()"
                        ng-disabled="inputForm.$invalid || c.choice == 'unset'") {{error ? "Error - try again?":"Submit"}}
